[submodule "repos/biblatex-apa-swift"]
	path = repos/biblatex-apa-swift
	url = https://github.com/PsychQuant/biblatex-apa-swift
[submodule "mcps/che-zotero-mcp"]
	path = mcps/che-zotero-mcp
	url = https://github.com/kiki830621/che-zotero-mcp
[submodule "mcps/che-biblatex-mcp"]
	path = mcps/che-biblatex-mcp
	url = https://github.com/kiki830621/che-biblatex-mcp
